@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: myFirstFont;
  src: url(MYRIADPRO-SEMIBOLD.OTF);
}

@font-face {
  font-family: mySecondFont;
  src: url(MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: myTirdFont;
  src: url(MyriadPro-Light.otf);
}



body {
  /*font-family: myFirstFont;*/
  font-family: mySecondFont;
  /*font-family: myTirdFont;*/
	background-color: #eceff1;
}







.menulateral{
  height: 100%;
  width:240px;
  /*border: 1px solid red;*/
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #262f3d;
  color: #c1c3c4;
}

.logocimonav{
	width: 240px;
	height: 50px;
	/*border: 1px solid green;*/
    /*border-bottom: 1px solid white;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	left: 0;
	top: 0;
    background-color: #262f3d;
    color: white;
    /*font-family: mySecondFont;*/
    font-size: 20px;
}

.logocimonavimg{
  position: relative;
  top: 11px;
  left: 15px;
}

.asmartconnect{
  position: fixed;
  top: 13px;
  left: 50px;
}

.segundoespaconav{
	width: 200px;
	height: 50px;
	/*border: 1px solid white;*/
    /*border-bottom: 1px #39424d;*/
    border: 0px solid pink;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	left: 15px;
	top: 51px;
    background-color: #262f3d;
    vertical-align: middle;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;


	color: #55c3f5;

}








.imghomeum{
	display: block;
}
.imghomedois{
	display: block;
}






















.bordadebaixo{
	width: 240px;
	height: 50px;
	/*border: 1px solid white;*/
    /*border-bottom: 1px #39424d;*/
    border: 0px solid pink;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	left: 0px;
	top: 51px;
    background-color: #262f3d;
    vertical-align: middle;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;


}

.dirsegundoespaconav{
	width: 50px;
	left:188px;
	height: 35px;
  border-left: 1px solid blue;
	/*border: 1px solid blue;*/
	position: fixed;
	top: 58px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);


      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;

      align-items: center;
      text-align: center;
}

.developnav{
	width: 240px;
	height: 205px;
	/*border: 1px solid yellow;*/
    /*border-bottom: 1px solid white;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	left: 0;
	top:102px;
    background-color: #19222a;

}

.titledevelopnav{
	width: 240px;
	height: 53px;
	/*border: 1px solid pink;*/
	position: relative;
	left: 15px;
	top:0px;
  color: white;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

}

.menubotaonav{
	width: 240px;
	height: 28px;
	border: 0px solid pink;
	position: relative;
	left: 30px;
	top:0px;
  vertical-align: middle;
  align-items: center;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

}

.developnavdois{
	width: 240px;
	height: 180px;
	/*border: 1px solid yellow;*/
    /*border-bottom: 1px solid white;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	left: 0;
	top:308px;
    background-color: #19222a;
}

.developnavtres{
	width: 240px;
	height: 250px;
	/*border: 1px solid yellow;*/
    /*border-bottom: 1px solid white;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	left: 0;
	top:489px;
    background-color: #19222a;
}



/*--------------------------------------------------*/







.cabecalho{
	width: 100%;
	height: 102px;
	top: 0;
	right: 0;
  position: fixed;
    background-color: #209AE4;
	z-index: -1;
}

.nomecabecalho{
  border: 1px solid red;
  top: 13px;
  position: fixed;
  left: 250px;
  color: white;
  font-family: mySecondFont;
}
