@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: myFirstFont;
    src: url(MYRIADPRO-SEMIBOLD.OTF);
}
 
@font-face {
    font-family: mySecondFont;
    src: url(MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: myTirdFont;
    src: url(MyriadPro-Light.otf);
}

body {
    /*font-family: myFirstFont;*/
    font-family: mySecondFont;
    /*font-family: myTirdFont;*/
    background-color: #eceff1;
    /*
    overflow-y: scroll;*/
  overflow-y: scroll;
  overflow-x: hidden;
}

.menulateral {
    height: 100%;
    width: 240px;
    /*border: 1px solid red;*/
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #262f3d;
    color: #c1c3c4;
}
 
.logocimonav {
    width: 240px;
    height: 50px;
    /*border: 1px solid green;*/
    /*border-bottom: 1px solid white;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    background-color: #262f3d;
    color: white;
    /*font-family: mySecondFont;*/
    font-size: 20px;
}

.logocimonavimg {
    position: relative;
    top: 11px;
    left: 15px;
}

.asmartconnect {
    position: fixed;
    top: 13px;
    left: 50px;
}

.segundoespaconav {
    width: 200px;
    height: 50px;
    /*border: 1px solid white;*/
    /*border-bottom: 1px #39424d;*/
    border: 0px solid pink;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    left: 15px;
    top: 51px;
    background-color: #262f3d;
    vertical-align: middle;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;


    color: #55c3f5;

}





/*

.segundoespaconav {
    /* color:*/
/*}*/

.imghomeum {
    display: block;
}

.imghomedois {
    display: block;
}




.bordadebaixo {
    width: 240px;
    height: 50px;
    /*border: 1px solid white;*/
    /*border-bottom: 1px #39424d;*/
    border: 0px solid pink;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    left: 0px;
    top: 51px;
    background-color: #262f3d;
    vertical-align: middle;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;


}

.dirsegundoespaconav {
    width: 50px;
    left: 188px;
    height: 35px;
    border-left: 1px solid blue;
    /*border: 1px solid blue;*/
    position: fixed;
    top: 58px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    text-align: center;
}

.developnav {
    width: 240px;
    height: 125px;
    border: 0px solid yellow;
    /*border-bottom: 1px solid white;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    left: 0;
    top: 102px;
    background-color: #19222a;

}

.titledevelopnav {
    width: 240px;
    height: 53px;
    /*border: 1px solid pink;*/
    position: relative;
    left: 15px;
    top: 0px;
    color: white;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

}

.menubotaonav {
    width: 240px;
    height: 28px;
    border: 0px solid pink;
    position: relative;
    left: 30px;
    top: 0px;
    vertical-align: middle;
    align-items: center;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

}

.developnavdois {
    width: 240px;
    height: 180px;
    /*border: 1px solid yellow;*/
    /*border-bottom: 1px solid white;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    left: 0;
    top: 308px;
    background-color: #19222a;
}

.developnavtres {
    width: 240px;
    height: 250px;
    /*border: 1px solid yellow;*/
    /*border-bottom: 1px solid white;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    left: 0;
    top: 489px;
    background-color: #19222a;
}



/*--------------------------------------------------*/







.cabecalho {
    width: 100%;
    height: 102px;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #209AE4;
    z-index: -1;
}

.nomecabecalho {
    border: 0px solid red;
    top: 13px;
    position: fixed;
    left: 250px;
    /*color: white;*/
    color: rgba(255, 255, 255, 0.9);
    font-family: mySecondFont;
    font-size: 17px;
}

.botsair {
    border: 0px solid red;
    top: 13px;
    position: fixed;
    right: 20px;
    /*color: white;*/
    color: rgba(255, 255, 255, 0.9);
    font-family: mySecondFont;
    font-size: 17px;
}


/*
.conteudoprincipal {
    background-color: #eceff1;
    position: relative;
    top: 202px;
    left: 240px;
    border: 10px solid red;
    width: 100%;
    height: 1800px;
}*/

#listausers {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}

.humlistausers {
    position: relative;
    top: 20px;
    left: 20px;
}

.tabelalistausers {
    position: relative;
    left: 20px;
}

.tablelistausers {
    width: 96%;
    text-align: left;
}

#criarusers {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}

#modificarusers {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}

#zonasdecontrolo {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 1800px;
    display: none;
    z-index: 9;
}

#homepage {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 1600px;
    display: block;
}

#dispositivosdiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}

#luzesdiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}

#sensoresdiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}

#alarmediv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}

#camarasdiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}



/*----------------------*/




.titlistausers {
    border: 0xpx solid red;
    width: 500px;
    height: 55px;
    font-family: myFirstFont;
    font-size: 40px;
    top: 10px;
    left: 20px;
    position: relative;
}

.txtlistausers {
    border: 0px solid red;
    position: relative;
    left: 21px;
    width: 80%;
}

.tabelalistausers {
    border: 0px solid green;
    width: 97%;
    left: 21px;
    position: relative;
    height: 500px;
}

.linhatabhead {
    border: 0px solid blue;
    background-color: #6c7ae0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    width: 10%;
    vertical-align: middle;
    display: table-cell;

}

.colunaa {
    display: inline-block;
    position: relative;
    color: white;
    font-family: myFirstFont;
    font-size: 20px;
}

#nomecompum {
    left: 40px;
    position: relative;
}

#tipouserum {
    left: 350px;
    position: relative;
}

#loginum {
    left: 650px;
    position: relative;
}

#pginicialum {
    left: 970px;
    position: relative;
}

/*----------------------------------*/
.linhatabela {
    border-bottom: 1px solid #3e4244;
    height: 40px;
    vertical-align: middle;
}

.colunab {
    display: inline-block;
    position: relative;
    top: 10px;
}

#nomecompdois {
    left: 40px;
    position: relative;
    width: 350px;
    max-width: 350px;
    border: 0px solid red;
}

#tipouserdois {
    left: 140px;
    width: 350px;
    max-width: 350px;
    border: 0px solid red;
    position: relative;
}

#logindois {
    left: 245px;
    width: 250px;
    max-width: 350px;
    border: 0px solid red;
    position: relative;
}

#pginicialdois {
    left: 360px;
    width: 100px;
    max-width: 350px;
    border: 0px solid red;
    position: relative;
}

.modusertot {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: table;
    z-index: 0;
}

#voltaraonormalumdois {
    display: none;
}

.moduserbox {
    display: table-cell;
    vertical-align: middle;

}

#voltaraonormaldoisdois {
    display: none;
    border: 1px solid red;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 550px;
    border: 0px solid red;
    background-color: white;
    text-align: center;
    z-index: 9;
}

#voltaraonormaltresdois {
    display: none;
}

/*-------------------BOX MODIFICAR USER NA LISTA*/

.boxletras {
    border: 0px solid red;
    position: relative;
    height: 600px;
    top: 0px;
    width: 800px;
    left: 50px;
}


.nomerece {
    border: 0px solid blue;
    width: 400px;
    height: 70px;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 26px;
    vertical-align: bottom;
    text-align: left;
}

.nomesorece {
    border: 0px solid pink;
    width: 400px;
    height: 60px;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 26px;
    vertical-align: bottom;
    text-align: left;
}

.botaofecharjanela{
    border: 0px solid green;
    width: 100%;
    height: 49px;
    top: 0px;
    right: 0px;
    position: relative;
}

.botfecharimg{
    top: 15px;
    position: absolute;
    right: 15px;
}


input[type=text], select {
    width: 78%;
    margin: 8px 0;
    padding: 14px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 78%;
    margin: 8px 0;
    padding: 14px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.nomesorecetreis {
    border: 0px solid pink;
    width: 800px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 0px;
    font-size: 26px;
    vertical-align: bottom;
    text-align: left;
}

.nomesoreceq {
    border: 0px solid pink;
    width: 800px;
    height: 60px;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    top: 0px;
    left: 0px;
    font-size: 26px;
    vertical-align: bottom;
    text-align: left;
}

.nomesorecew {
    border: 0px solid pink;
    width: 800px;
    height: 40px;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    top: 0px;
    left: 0px;
    font-size: 26px;
    vertical-align: bottom;
    text-align: left;
}

.baza{
    font-size: 16px;
    top: 10px;
    position: relative;
}

button[id=login] {
    width: 250px;
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[id=passbot] {
    width: 150px;
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[id=passbotover] {
    width: 150px;
    background-color: #025803;
    color: white;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[id=apagarbot] {
    width: 150px;
    background-color: #d20000;
    color: white;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#apagarbotover {
    width: 150px;
    background-color: #a30000;
    color: white;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button[id=loginover] {
    width: 250px;
    background-color: #025803;
    color: white;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*---------------------------------------------------------------------------*/
/*#homepage{
    display: none;
}

#criarusers{
    display: block;
}
/*---------------------------------------------------------------------------*/



#bibliografiadiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}
#papdiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}
#relatoriodiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}
#programacaodiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}
#escoladiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}
#ansiaodiv {
    border: 0px solid blue;
    position: relative;
    top: 15px;
    left: 75px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    color: #3e4244;
    height: 800px;
    display: none;
}


.titbio {
    border: 0xpx solid red;
    width: 500px;
    height: 55px;
    font-family: myFirstFont;
    font-size: 40px;
    top: 10px;
    left: 20px;
    position: relative;
}

.txtbio {
    border: 0px solid red;
    position: relative;
    left: 25px;
    width: 80%;
    height: 680px;
    top: 30px;
}

.pbio{
    border: 0px solid red;
    height: 650px;
    width: 900px;
    text-align: justify;
}

.imgbios{
    border:0px solid red;
    position: fixed;
    top: 250px;
    left: 1350px;
    width: 350px;
    height: 500px;
}

.txtpap {
    border: 0px solid red;
    position: relative;
    left: 25px;
    width: 80%;
    height: 680px;
    top: 30px;
}

.ppap{
    border: 0px solid red;
    height: 650px;
    width: 90%;
    text-align: justify;
}

/*-------------tabela zonas------------------------*/
/*
#nomecompum {
    left: 40px;
    position: relative;
}

#tipouserum {
    left: 350px;
    position: relative;
}

#loginum {
    left: 650px;
    position: relative;
}

#pginicialum {
    left: 970px;
    position: relative;
}*/

.colunab {
    display: inline-block;
    position: relative;
    color: #595054;
    font-family: myFirstFont;
    font-size: 20px;
    border: 0px solid red;
    top: 0px;
}


.colunad {
    display: inline-block;
    position: relative;
    color: #595054;
    font-family: myFirstFont;
    font-size: 20px;
    border: 0px solid red;
    top: 8px;
}

#nomezona{
    width: 150px;
    left: 20px;
}

#qum{
    width: 70px;
    left: 20px;
}

#qdois{
    width: 70px;
    left: 20px;
    
}

#qtres{
    width: 70px;
    left: 20px;
    
}

#qquatro{
    width: 70px;
    left: 20px;
    
}

#saladeestar{
    width: 150px;
    left: 20px;
    
}

#saladejantar{
    width: 150px;
    left: 20px;
    
}

#cozinha{
    width: 100px;
    left: 20px;
    
}

#hall{
    width: 70px;
    left: 20px;
    
}

#saladearmas{
    width: 150px;
    left: 20px;
    
}

#escritorio{
    width: 150px;
    left: 20px;
    
}

#roupeiro{
    width: 150px; 
    left: 20px;  
    
}

#wc{
    width: 50px;
    left: 20px;
    
}

.zonasmaxdiv{
    border: 0px solid red;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
    overflow-y: scroll;
}

.criarzonadecontrolo{
    border: 0px solid red;
    height: 500px;
    position: relative;
}

.dia{
}

.tabelacriarzona{
    position: relative;
    left:25px;
    top: 30px;
    width: 300px;
}

#nomezonainp {
    width: 99%;
    margin: 8px 0;
    padding: 14px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button[id=subzonas] {
    width: 250px;
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.titqwert {
    border: 0xpx solid red;
    width: 500px;
    height: 55px;
    font-family: myFirstFont;
    font-size: 40px;
    top: 10px;
    left: 20px;
    position: relative;
}

.caixaa{
    border: 0px solid blue;
    position: relative;
    width: 95%;

}

.titaaa {
    border: 0px solid red;
    width: 500px;
    height: 55px;
    font-family: myFirstFont;
    font-size: 25px;
    top: 20px;
    left: 20px;
    position: relative;
    display: table;
}

.boardluzes{
    border:0px solid red;
    position: relative;
    top: 10px;
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.luxlig{
    border: 0px solid green;
    position: relative;
    min-width: 280px;
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    margin: 20px;
}
.luxlig:hover{
    border: 0px solid green;
    position: relative;
    width: 280px;
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: #a30000;
    color: white;
    margin: 20px;
}
.luxdeslig{
    border: 0px solid green;
    position: relative;
    width: 280px;
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: #a30000;
    color: white;
    margin: 20px;
}
.luxdeslig:hover{
    border: 0px solid green;
    position: relative;
    width: 280px;
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    margin: 20px;
}
span {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0;
}

.titbbbb {
    border: 0px solid red;
    width: 500px;
    height: 55px;
    font-family: myFirstFont;
    font-size: 25px;
    top: 70px;
    left: 20px;
    top: 20px;
    position: relative;
    display: table;
}

.boardtemp{
    border: 0px solid red;
    position: relative;
    top: 20px;
}

.atem{
    left: 22px;
    position: relative;

}

.tempumaa{
    border: 0px solid blue;
    position: relative;
    width: 250px;
    height: 140px;
    margin: 20px;
    font-size: 120px;
}

.detet{
    border-radius: 500px;
    text-align: center;
    border: 0px solid blue;
    width: 200px;
    color: white;
    height: 200px;
    background-color: #4CAF50;
    margin: 20px;
    display: inline-block;
    left: 30px;
    position: relative;
    top: -80px;
}

.detet:hover{
    border-radius: 500px;
    text-align: center;
    border: 0px solid blue;
    width: 200px;
    color: white;
    height: 200px;
    background-color: #a30000;
}
.tempcx{
    border: 0px solid blue;
    position: relative;
    width: 95%;
    top: 50px;
}

.txtdetet{
    border: 0px solid blue;
    width: 800px;
    height: 200px;
    left: 70px;
    position: relative;
    margin: 20px;
    display: inline-block;
}